.recipes{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.recipe-food--finder {
  font-family: "LuckiestGuy";
  display: flex;
  flex-direction: column;
  overflow: visible;
}

.recipe-info > button {
  font-family: "LuckiestGuy";
  padding: 0.5rem;
  text-align: center;
  justify-content: center;
  align-self: center;
}

button.saved-recipes {
  font-family: "LuckiestGuy";
  padding: 0.5rem;
  text-align: center;
  justify-content: center;
  align-self: center;
  width:fit-content
}

.recipe-instructions {
  align-self: center;
  display: flex;
  flex-direction: column;
  overflow: visible;
  
}

.recipe-info {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 50%;
  align-self: center;
}

.youtube-link{
  color:orangered
}

button{
  font-family:"LuckiestGuy"
}

.saved-recipes{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width:100%;
  border:2px solid black
}

@media (min-width: 20rem) and (max-width: 50rem) {
  .recipe-food--finder {
    background-color: var(--page-background-color);

    overflow-y: hidden;
   
  }

  .recipe-info {
    background-color: var(--page-background-color);

    width: 100%;

    overflow-y: hidden;
    flex-grow: 1;
  
    flex-shrink:1
    
    
  }

   .recipe-instructions {
    display: flex;
    flex-direction: column;

    width: 70%;
    background-color: var(--page-background-color);

    overflow-y: hidden;
    min-height: auto;
   
  } 
   


  .food-list{
    display:flex;
    flex-direction: column;
    flex-grow:0;
    min-height: auto;
    overflow-y: hidden;
    flex-shrink:1
    
  }
  .food-list > img{
    align-self: center;
  }
}



@media (min-width: 50rem) and (max-width: 70rem) {
  .recipe-food--finder {
    min-height:50vh;
    background-color: var(--page-background-color);
    overflow-y: hidden;
  }
  .recipe-instructions {
    
    overflow-y: hidden;
  }

  .recipe-info{
    min-height: 50vh;
    overflow-y: hidden;
  }
}

@media (min-width: 70rem) and (max-width: 90rem) {
  .recipe-info {
    min-height: 100vh;
    overflow: hidden;
  }

  .recipe-instructions {
    min-height: 120vh;
    overflow: hidden;
  }
}
@media (min-width: 90rem) {
  .recipe-food--finder {
    min-height: 100vh;
  }
  .recipe-info {
    min-height: 100vh;
    background-color: var(--page-background-color);
    width: 100%;
  }
  .recipe-instructions {
    min-height: 100vh;
    background-color: var(--page-background-color);
    width: 70%;
  }
  .savedRecipes{
  display:flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
}
