.navbar-sign-in-page{
    background-color:black;
    margin:0;
    display:flex;
    justify-content: space-evenly;
    gap:2rem;
    padding: 0 1 rem;
    height: 70px;
    position:initial;

}
.e-mail-input{
    line-height:50px;
    margin-bottom:auto;
}

.password-input{
    line-height:50px;
    margin-bottom:auto;

}

.sign-in-button {
    font-family:'LuckiestGuy';
    font-size:20px;
    background-color:black;
    color:white;
}

.sign-in-button:hover{
    background-color:grey
}
