.navbar-sign-in-page{
    background-color:black;
    margin:0;
    display:flex;
    justify-content: space-evenly;
    gap:2rem;
    padding: 0 1 rem;
    height: 70px;
    position:initial;

}
.e-mail-input{
    line-height:50px;
    margin-bottom:auto;
    text-align: center;
}

.password-input{
    line-height:50px;
    margin-bottom:auto;
    text-align: center;

}

.sign-in-button {
    font-family:'LuckiestGuy';
    font-size:20px;
    background-color:black;
    color:white;
    padding-top: 5px;
    margin-left:5px;
}



    .sign-in-page{
        background-color:var(--page-background-color);
        /* min-height:var(--responsive-page-height); */
        min-height:100dvh;
        text-align: center;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
    
 
