.custom-workout-info{
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    background-color: var(--page-background-color)
}

.custom-workout-title{
    text-align: center;
    text-decoration: underline;
    font-family:"LuckiestGuy"
}
