.navbar-sign-up-page {
    background-color:black;
    margin:0;
    display:flex;
    justify-content: space-evenly;
    gap:2rem;
    padding: 0 1rem;
    height: 70px;
    position:initial;
}

.first-name-input{
    line-height:50px;
    margin-bottom:auto;
    text-align: center;
    
}
.last-name-input{
    line-height:50px;
    text-align: center;
}

.email-input{
    line-height:50px;
    text-align: center;

}

.password-input{
    line-height:50px;
    text-align: center;

}
.confirm-password-input{
    line-height:50px;
    text-align: center;
}
.sign-up-button{
    font-family:'LuckiestGuy';
    font-size:20px;
    background-color:black;
    color:white;
    padding-top:5px;
    margin-left:5px;
  }

  .sign-up-page{
    background-color: beige;
    height:100vh;
    text-align: center;
    overflow-y:auto;
}

@media(max-width:37.5rem){
    .form--main {
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
      }
    
      .form--input {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        justify-content: center;
        align-items: center;
      }
}
