.navbar-sign-up-page {
    background-color:black;
    margin:0;
    display:flex;
    justify-content: space-evenly;
    gap:2rem;
    padding: 0 1 rem;
    height: 70px;
    position:initial;
}

.first-name-input{
    line-height:50px;
    margin-bottom:auto;
    
}
.last-name-input{
    line-height:50px;
}

.email-input{
    line-height:50px;

}

.password-input{
    line-height:50px;

}
.confirm-password-input{
    line-height:50px;
}
.sign-up-button{
    font-family:'LuckiestGuy';
    font-size:20px;
    background-color:black;
    color:white;
    padding-top:5px;
    margin-left:5px;
  }

.content{
    background-color: beige;
    height:100vh;
}
.position {
    position: absolute; 
    bottom: 0;
    
}
