.navbar-workoutprogrammes-page{
    background-color:black;
    margin:0;
    display:flex;
    justify-content: space-evenly;
    gap:2rem;
    padding: 0 1 rem;
    height: 70px;
    position:initial;

}
.content{
    background-color: beige;
    height:100vh;
}
.font{
    font-family:'LuckiestGuy';
}

.workout-text{
    font-family:'LuckiestGuy';
}

.img{
    
    margin:auto;
    display:flex;
    text-align: center;
    padding: 1em;
    
    
}
