.workout-api-text,
.body-text {
  font-family: "LuckiestGuy";
}

.workouts-list {
  list-style: none;
}

.show-message {
  color: green;
}
.exercises-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.exercise-info {
  width: 50%;
}

.highlight {
  border: 3px solid green;
}

.saved-workouts {
  display: flex;
  flex-direction: row;
}

.mapped-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
}

.workout-items {
  list-style: none;
}
.rendered-body-list {
  list-style: none;
}
.add-to-custom-workout,
.show-custom-workout{
    
  font-family: "LuckiestGuy";
  padding: 0.2rem;
  text-align: center;
  justify-content: center;
  align-self: center;
  width:fit-content
}

