@font-face {
  font-family: "SixtyfourConvergence";
  src: url("../../styles/fonts/LuckiestGuy-Regular.ttf") format("truetype");
}

.footer {
  background-color: black;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-family: "LuckiestGuy";
  height: 95px;
  line-height:10px;
  margin-top:auto;
  margin-bottom: 0;
}
.logo1 {
  width: 25px;
  margin-right: 5px;
}
.logo2 {
  width: 25px;
  margin-right: 5px;
}
.logo3 {
  width: 25px;
}

.contact:hover {
  font-size: 25px;
}

a:hover {
  font-size: 25px;
}
