h1 {
  margin: 50px;
}

body {
  background-color: white;
}

.font-style {
  color: black;
  text-align: center;
  font-family: 'LuckiestGuy';
}

.center-title {
  color: white;
  text-align: center;
}

.image-dimensions{
    width:300px;

}

.fitness-image {
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.background-colour{
  background-color: beige;
  
}


